* {
  margin: 0;
}

.main-container {
  background-color: #25262c;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container {
  background-color: #1b1c22;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  background-color: #25262c;
}
